<mat-tab-group mat-align-tabs="center">

  <mat-tab label="Task">
    
    <mat-card class="example-card" style="text-align: center;">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Giesecke + Devrient</mat-card-title>
        <mat-card-subtitle>Front End Developer Test</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../../assets/images/task.png" alt="Photo of the task" style="width: 850px;">
    </mat-card>

  </mat-tab>



  <mat-tab label="Get Started">
    <mat-card class="example-card1" style="text-align: center;">
      <mat-card-content>
       <p>If you want to test the app</p>
      </mat-card-content>
      <mat-card-subtitle>Click This Button</mat-card-subtitle>
      <button mat-fab color="primary" routerLink="/api-form">
        <mat-icon>start</mat-icon>
      </button>
    </mat-card>
  </mat-tab>



</mat-tab-group>
