<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <section>
        <div class="example-button-row">
          <div class="example-flex-container">
            <div class="example-button-container" style=" margin: 0;
            position: absolute;
            top: 20%;
            left: 30%;
           ">
              <button mat-fab color="warn" aria-label="Example icon button with a home icon">
                <mat-icon routerLink="/home" id="firstItem">home</mat-icon>
              </button>
            </div>
            <br><br>
            <br>

            <div class="example-button-container" style=" margin: 0;
            position: absolute;
            top: 40%;
            left: 30%;
           ">
              <button mat-fab color="warn" aria-label="Example icon button with a heart icon">
                <mat-icon routerLink="/api-form" >task</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </section>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Aziz Ben Hadj Yahia</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
