<div class="top" style="justify-content: center;">
<h2>Phone number validator</h2>
<mat-card-subtitle>Fill in the form below to validate a phone number</mat-card-subtitle><br><br>
</div>

<div class="container">
  <form #phoneValidator="ngForm" (ngSumbit)="onSubmit(phoneValidator.value)">
    <div class="row">
        <div class="col-25">
          <label for="country">Country</label>
        </div>
        <div class="col-75">
          <select id="country" name="country_code" ngModel> 
            <option value="Select a country">Select Country</option>
            <option *ngFor="let countries of listCodesCountries | keyvalue">
                {{countries.key}} : {{ countries.value.country_name }}
                {{countries.value.dialling_code}}</option>
          </select>
    
        </div>
      </div>



  <div class="row">
    <div class="col-25">
      <label for="Number">Phone number</label>
    </div>
    <div class="col-75">
      <input type="text" id="pnumber" name="number"  ngModel placeholder="Insert phone number here" >
    </div>
  </div>

  <br>
  <div class="row">
<button type="submit">  
   Submit Form </button>
</div>
  </form>
</div>
